<html>
    <head>
    </head>
    <body>
        <br>
        <h1>Login Page</h1><br>
        <form action="/login" method="post">
            <input type="text" name="name" placeholder="enter the name" required><br>
            <input type="password" name="password" placeholder="enter the password" required><br>
            <input type="submit"><br>
            <a href="/signup">Create New Account</a>

        </form>
    </body>
</html>