<html>
    <head>
    </head>
    <body>
        <h1>Sign Up </h1><br>
        <form action="/signup" method="post">
            <input type="text" name="name" placeholder="enter the name" required><br>
            <input type="text" name="password" placeholder="enter the password" required><br>
            <input type="submit"><br>
            <a href="/">Already sign up ? Login Here</a>

        </form>
    </body>
</html>